[submodule "src/main/kotlin/org/erwinkok/multiformat/spec/multicodec"]
	path = src/main/kotlin/org/erwinkok/multiformat/spec/multicodec
	url = https://github.com/multiformats/multicodec
[submodule "src/main/kotlin/org/erwinkok/multiformat/spec/multibase"]
	path = src/main/kotlin/org/erwinkok/multiformat/spec/multibase
	url = https://github.com/multiformats/multibase
[submodule "src/main/kotlin/org/erwinkok/multiformat/spec/multihash"]
	path = src/main/kotlin/org/erwinkok/multiformat/spec/multihash
	url = https://github.com/multiformats/multihash
